<% if user_signed_in? %>
  <h1>Welcome <%= current_user.email %></h1>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% else %>
  <%= link_to('Login', new_user_session_path)  %>
<% end %>
